body {
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Varela Round', sans-serif;
    margin-top: auto;
    text-align: center;
    font-size: 6rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container {
    flex-flow: column wrap;
}

button {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 8px 16px;
    font-size: 2rem;
    margin: 7px 14px;
    width: 325px;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }