button{
  border-radius: 16px;
  padding: 4px 8px;
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  color: #8a2be2;
}

.navbar-light .navbar-nav .nav-link {
  color:black;
}